# Task 1:

• Create data frame with

• 6 names of dinosaurs

• Their favourite prime number. Play around with the frame

In [2]:
import pandas as pd

In [3]:
dinosaur_data = {
    'Dinosaur': ['Tyrannosaurus', 'Stegosaurus', 'Triceratops', 'Velociraptor', 'Brachiosaurus', 'Ankylosaurus'],
    'Favorite_Prime_Number': [2, 3, 5, 7, 11, 13]
}

In [4]:
dinosaur_df = pd.DataFrame(dinosaur_data)

In [5]:
print(dinosaur_df)

        Dinosaur  Favorite_Prime_Number
0  Tyrannosaurus                      2
1    Stegosaurus                      3
2    Triceratops                      5
3   Velociraptor                      7
4  Brachiosaurus                     11
5   Ankylosaurus                     13

In [52]:
print("Head of the DataFrame:")
df.head()

Head of the DataFrame:

,id,Nodes,Tasks/Node,Threads/Task,Runtime Program / s,Scale,Plastic,Avg. Neuron Build Time / s,Min. Edge Build Tim e / s,Max. Edge Build Time / s,...,Max. Init. Time / s,Presim. Time / s,Sim. Time / s,Virt. Memor y (Sum) / kB,Local Spike Counter (Sum),Average Rate (Sum),Number of Neurons,Number of Connections,Min. Delay,Max. Delay 5
0,5,1,4,4,200.84,10,True,0.15,46.03,46.34,...,1.01,7.87,142.97,46903088,802865,7.03,112500,1265738500,1.5,1.5
1,5,1,2,8,202.15,10,True,0.28,47.98,48.48,...,1.20,7.95,142.81,47699384,802865,7.03,112500,1265738500,1.5,1.5
2,5,1,4,8,89.57,10,True,0.15,20.41,23.21,...,3.04,3.19,60.31,46813040,821491,7.23,112500,1265738500,1.5,1.5
3,5,2,2,4,164.16,10,True,0.20,40.03,41.09,...,1.58,6.08,114.88,46937216,802865,7.03,112500,1265738500,1.5,1.5
4,5,2,4,4,77.68,10,True,0.13,20.93,21.22,...,0.46,3.12,52.05,47362064,821491,7.23,112500,1265738500,1.5,1.5

In [53]:
print("\nShape of the DataFrame:")
df.shape

Shape of the DataFrame:

(8, 21)

In [54]:
print("\nInformation about the DataFrame:")
df.info()

Information about the DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          8 non-null      int64
 1   Nodes                       8 non-null      int64
 2   Tasks/Node                  8 non-null      int64
 3   Threads/Task                8 non-null      int64
 4   Runtime Program / s         8 non-null      float64
 5   Scale                       8 non-null      int64
 6   Plastic                     8 non-null      bool
 7   Avg. Neuron Build Time / s  8 non-null      float64
 8   Min. Edge Build Tim  e / s  8 non-null      float64
 9   Max. Edge Build Time / s    8 non-null      float64
 10  Min. Init. Time / s         8 non-null      float64
 11  Max. Init. Time / s         8 non-null      float64
 12  Presim. Time / s            8 non-null      float64
 13  Sim. Time / s               8 non-null      float64
 14  Virt. Memor  y (Sum) / kB   8 non-null      int64
 15  Local Spike Counter (Sum)   8 non-null      int64
 16  Average Rate (Sum)          8 non-null      float64
 17  Number of Neurons           8 non-null      int64
 18  Number of Connections       8 non-null      int64
 19  Min. Delay                  8 non-null      float64
 20  Max.  Delay  5              8 non-null      float64
dtypes: bool(1), float64(11), int64(9)
memory usage: 1.4 KB

In [55]:
print("\nSummary statistics of the DataFrame:")
df.describe()

Summary statistics of the DataFrame:

,id,Nodes,Tasks/Node,Threads/Task,Runtime Program / s,Scale,Avg. Neuron Build Time / s,Min. Edge Build Tim e / s,Max. Edge Build Time / s,Min. Init. Time / s,Max. Init. Time / s,Presim. Time / s,Sim. Time / s,Virt. Memor y (Sum) / kB,Local Spike Counter (Sum),Average Rate (Sum),Number of Neurons,Number of Connections,Min. Delay,Max. Delay 5
count,8.0,8.000000,8.000000,8.00000,8.000000,8.0,8.000000,8.000000,8.000000,8.000000,8.00000,8.000000,8.000000,8.000000e+00,8.00000,8.000000,8.0,8.000000e+00,8.0,8.0
mean,5.0,1.750000,3.000000,6.00000,118.463750,10.0,0.173750,29.203750,30.157500,0.370000,1.32625,4.470000,81.713750,4.773551e+07,813126.12500,7.172500,112500.0,1.265738e+09,1.5,1.5
std,0.0,0.707107,1.069045,2.13809,62.073344,0.0,0.050973,13.778026,13.444087,0.241838,0.81979,2.497885,45.447004,1.851761e+06,8879.26888,0.122562,0.0,0.000000e+00,0.0,0.0
min,5.0,1.000000,2.000000,4.00000,37.200000,10.0,0.130000,10.080000,11.600000,0.100000,0.46000,1.240000,23.290000,4.681304e+07,802865.00000,7.030000,112500.0,1.265738e+09,1.5,1.5
25%,5.0,1.000000,2.000000,4.00000,79.120000,10.0,0.145000,20.800000,21.737500,0.182500,0.87500,3.085000,52.852500,4.688911e+07,802865.00000,7.030000,112500.0,1.265738e+09,1.5,1.5
50%,5.0,2.000000,3.000000,6.00000,93.040000,10.0,0.150000,24.085000,25.310000,0.295000,1.21000,3.260000,62.295000,4.700122e+07,815970.50000,7.230000,112500.0,1.265738e+09,1.5,1.5
75%,5.0,2.000000,4.000000,8.00000,173.330000,10.0,0.200000,41.530000,42.402500,0.565000,1.59250,6.527500,121.862500,4.744639e+07,821491.00000,7.240000,112500.0,1.265738e+09,1.5,1.5
max,5.0,3.000000,4.000000,8.00000,202.150000,10.0,0.280000,47.980000,48.480000,0.700000,3.04000,7.950000,142.970000,5.225688e+07,821491.00000,7.330000,112500.0,1.265738e+09,1.5,1.5

# Task 2:

• Read Task2 data as a dataframe and call it df

• Get to know it and play a bit with it(describe, show head,show shape...etc)

In [6]:
import csv
import pandas as pd

In [9]:
file_path = 'Task2Data.csv'

In [10]:
df = pd.read_csv(file_path)

In [16]:
df.head()

,id,Nodes,Tasks/Node,Threads/Task,Runtime Program / s,Scale,Plastic,Avg. Neuron Build Time / s,Min. Edge Build Tim e / s,Max. Edge Build Time / s,...,Max. Init. Time / s,Presim. Time / s,Sim. Time / s,Virt. Memor y (Sum) / kB,Local Spike Counter (Sum),Average Rate (Sum),Number of Neurons,Number of Connections,Min. Delay,Max. Delay 5
0,5,1,4,4,200.84,10,True,0.15,46.03,46.34,...,1.01,7.87,142.97,46903088,802865,7.03,112500,1265738500,1.5,1.5
1,5,1,2,8,202.15,10,True,0.28,47.98,48.48,...,1.20,7.95,142.81,47699384,802865,7.03,112500,1265738500,1.5,1.5
2,5,1,4,8,89.57,10,True,0.15,20.41,23.21,...,3.04,3.19,60.31,46813040,821491,7.23,112500,1265738500,1.5,1.5
3,5,2,2,4,164.16,10,True,0.20,40.03,41.09,...,1.58,6.08,114.88,46937216,802865,7.03,112500,1265738500,1.5,1.5
4,5,2,4,4,77.68,10,True,0.13,20.93,21.22,...,0.46,3.12,52.05,47362064,821491,7.23,112500,1265738500,1.5,1.5

In [17]:
df.shape

(8, 21)

In [36]:
data = {
    'Name': ['Sarah', 'Mike', 'Tod', 'David'],
    'height (cm)': [163.50, 171.22, 176.90, 185.63],
    'Age': [44, 32, 35, 40],
    'Position' : ['Manager', 'Fashion designer','Content creator', 'Photographer']
}

In [37]:
demo_df = pd.DataFrame(data)

In [38]:
demo_df

    Name  height (cm)  Age          Position
0  Sarah       163.50   44           Manager
1   Mike       171.22   32  Fashion designer
2    Tod       176.90   35   Content creator
3  David       185.63   40      Photographer

In [39]:
demo_df.sort_values("Age")

    Name  height (cm)  Age          Position
1   Mike       171.22   32  Fashion designer
2    Tod       176.90   35   Content creator
3  David       185.63   40      Photographer
0  Sarah       163.50   44           Manager

In [40]:
demo_df.round(2).tail(2)

    Name  height (cm)  Age         Position
2    Tod       176.90   35  Content creator
3  David       185.63   40     Photographer

In [41]:
demo_df.sort_values("height (cm)")[1:3]

   Name  height (cm)  Age          Position
1  Mike       171.22   32  Fashion designer
2   Tod       176.90   35   Content creator

In [48]:
data = {
    'A': [1.2,1.2,1.2],
    'B': ['2018-02-26', '2018-02-26','2018-02-26'],
    'C': ['This','Column','has'],
    'D' : ['Same','Same',"Same"]
}

In [51]:
demo2df = pd.DataFrame(data)

In [50]:
demo2df

     A           B       C     D
0  1.2  2018-02-26    This  Same
1  1.2  2018-02-26  Column  Same
2  1.2  2018-02-26     has  Same

# Task 3

Add a column to the Task2 frame form Task 2 called “Program_Runtime*2” which multiplies the Program Runtime by 2

In [45]:
import pandas as pd

In [60]:
df['Program_Runtime*2'] = df['Runtime Program / s'] * 2

In [61]:
df

,id,Nodes,Tasks/Node,Threads/Task,Runtime Program / s,Scale,Plastic,Avg. Neuron Build Time / s,Min. Edge Build Tim e / s,Max. Edge Build Time / s,...,Presim. Time / s,Sim. Time / s,Virt. Memor y (Sum) / kB,Local Spike Counter (Sum),Average Rate (Sum),Number of Neurons,Number of Connections,Min. Delay,Max. Delay 5,Program_Runtime*2
0,5,1,4,4,200.84,10,True,0.15,46.03,46.34,...,7.87,142.97,46903088,802865,7.03,112500,1265738500,1.5,1.5,401.68
1,5,1,2,8,202.15,10,True,0.28,47.98,48.48,...,7.95,142.81,47699384,802865,7.03,112500,1265738500,1.5,1.5,404.30
2,5,1,4,8,89.57,10,True,0.15,20.41,23.21,...,3.19,60.31,46813040,821491,7.23,112500,1265738500,1.5,1.5,179.14
3,5,2,2,4,164.16,10,True,0.20,40.03,41.09,...,6.08,114.88,46937216,802865,7.03,112500,1265738500,1.5,1.5,328.32
4,5,2,4,4,77.68,10,True,0.13,20.93,21.22,...,3.12,52.05,47362064,821491,7.23,112500,1265738500,1.5,1.5,155.36
5,5,2,2,8,79.60,10,True,0.20,21.63,21.91,...,2.98,53.12,46847168,821491,7.23,112500,1265738500,1.5,1.5,159.20
6,5,2,4,8,37.20,10,True,0.13,10.08,11.60,...,1.24,23.29,47065232,818198,7.33,112500,1265738500,1.5,1.5,74.40
7,5,3,2,4,96.51,10,True,0.15,26.54,27.41,...,3.33,64.28,52256880,813743,7.27,112500,1265738500,1.5,1.5,193.02